<h1>Рецепты для</h1>
@for(recipe of recipes;track recipe.id){
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{ recipe.title }}</mat-card-title>
        <mat-card-subtitle>{{ recipe.createdAt | date }}</mat-card-subtitle>
      </mat-card-header>
      @if(recipe.imageUrl){
        <img  mat-card-image [src]="recipe.imageUrl" alt="{{ recipe.title }}">
      }
      <mat-card-actions>
        <!-- <button mat-button (click)="viewRecipe(recipe.id)">View</button>
        <button mat-button (click)="editRecipe(recipe.id)">Edit</button> -->
        <button mat-button (click)="deleteRecipe(recipe.id)">Удалить</button>
      </mat-card-actions>
    </mat-card>
}
  
  

