<p>recipe-form works!</p>

<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
  
    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="Ingredient Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Quantity" formControlName="quantity" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Unit" formControlName="unit">
            <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button type="button" (click)="removeIngredient(i)">Remove</button>
      </div>
      <button mat-button type="button" (click)="addIngredient()">Add Ingredient</button>
    </div>
  
    <mat-form-field>
      <textarea matInput placeholder="Instructions" formControlName="instructions"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Image URL" formControlName="imageUrl">
    </mat-form-field>
  
    <button mat-button type="submit">Save</button>
  </form>
  
  
